certifi==2026.6.17
cffi==2.1.0
charset-normalizer==3.4.9
cryptography==49.0.0
gitdb==4.0.12
GitPython==3.1.41
google-api-core==2.32.0
google-auth==2.56.2
google-cloud-core==2.6.0
google-cloud-storage==3.13.0
google-crc32c==1.8.0
google-resumable-media==2.10.0
googleapis-common-protos==1.75.0
idna==3.18
proto-plus==1.28.1
protobuf==7.35.1
pyasn1==0.6.4
pyasn1_modules==0.4.2
pycparser==3.0
PyJWT==2.13.0
PyNaCl==1.6.2
requests==2.34.2
setuptools==78.1.1
smmap==5.0.2
typing_extensions==4.16.0
urllib3==2.7.0
